.cart-item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;
}

.cart-item img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
}

.cart-item h5 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    letter-spacing: 2px;
    color: #334155;
}

.item-price {
    color: #64748b;
    display: block;
}

.remove-btn {
    color: #645cff;
    letter-spacing: 1px;
    cursor: pointer;
    font-size: .85rem;
    background: transparent;
    border: none;
    margin-top: 0.375rem;
    transition: .3s ease-in-out all;
}

.amount-btn {
    width: 1.5rem;
    background: transparent;
    border: none;
    cursor: pointer;
}

.amount-icon {
    font-size: 1.25rem;
    color: #645cff;
    transition: .3s ease-in-out all;
}

.amount {
    text-align: center;
    margin-bottom: 0;
    font-size: 1.25rem;
    line-height: 1;
    display: block;
}


